.database_wrapper{
    padding-top: 94px;
    padding-bottom: 100px;
    .database_title{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 45px;
    color: #1D213F;
    }

    .database_top_content{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #FFFFFF;
    padding: 45px 0 26px 50px;
    border-bottom: 1px solid #DDE1EA;
    .active{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1D213F;
    }
    .disabled{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #8B91A9;
    }
    .filter_part{
      display: flex; 
    overflow: scroll;
    width: 100%;
    &::-webkit-scrollbar {
        display: none;
    }
      li{
          margin-right: 40px;
          white-space: nowrap;
       
      } 
    }
    }


    .database_middle_content{
    background: #FFFFFF;
        padding: 50px;
        .search_button_wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .btn_wrapper{
            display: flex;
            button{
                margin-right: 20px;
                outline: none;
                cursor: pointer;
                padding: 15px 20px;
                border: none;
                color: #1D213F;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
            }
            .selected{
            background: #0065DD;
            border-radius: 5px;
            }
            .unselected{
            background: #FFFFFF;
            border-radius: 5px;
            border: 1px solid #8B91A9;
            }
            }
            .search_part{
                position: relative;
                border: 1px solid #0065DD;
                background-color: transparent;
                padding: 15px 20px;
                border-radius: 5px;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #0065DD;
                padding-left: 40px;
                cursor: pointer;
            
            .search_btn{
                position: absolute;
                z-index: 3;
                bottom: 20px;
                margin-left:-25px;
                bottom: 10px;
                path {
                    stroke: #0065dd;
                }
            }
            }
        }
    }


    .database_below_content{
        background-color: #fff;
        padding: 0 50px;
        ul> li{
          padding: 40px 0 30px 0;  
        }
        .product_header{
        background: #1D213F;
        border-radius: 5px;
        padding: 20px 20px;
        display: flex;
        align-items: center;
        p{
            width: 20%;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            // margin-right: 90px;
            color: white;
            white-space: nowrap;
        }
        .none{
        visibility: hidden;
        }

    }
    .filtered_item{
        display: flex;
        align-items: flex-start;
        border-bottom: 1px solid #E7EAF0;
        div, p, button {
            margin-right: 30px;
        }
        .butterfly{
            border-radius: 10px;
        }
        div{
            width: 20%;
            margin-right: 20px;
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            color: #1D213F;
        }
        .last_div{
            display: flex;
            text-align: center;
            button{
                outline: none;
                border: none;
                background-color: transparent;
                color: #8B91A9;
            }
        }
        .status_btn{
            // button{
                outline: none;
                border: none;
                padding: 10px;
                background: #0CAB2F;
                border-radius: 5px;
            // }
        }
        .status_btn_orange{
        outline: none;
        border: none;
        padding: 10px;
        background: #DD8500;
        border-radius: 5px;
        }
        .status_btn_red {
            outline: none;
            border: none;
            padding: 10px;
            background: #DD3500;
            border-radius: 5px;
        }
        .padding_left{
            text-align: center;
        }
    }
}
}

.pagination{
    margin-top: 50px;
}
.next_btn{
    display: flex;
    outline: none;
    border: none;
    padding: 0px 15px;
    background: #FFFFFF;
    border-radius: 5px;
    p{
        color: #0065DD;
        margin-bottom: 0;
    }
    .next_icon{
        margin-left: 10px;
    }
    .prev_icon{
        margin-right: 10px;
    }
}
