.services {padding-top: 100px;}

.card {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 32px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    flex-direction: column;
    width: 30%;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    margin-bottom: 30px;

    &:not(last-child) {
        margin-right: 20px;
    }

    &:hover {
        background: #0065DD;

        h3,
        p {
            color: white
        }
    }
}

.serviceTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 40px;
    color: #1D213F;
}

.servicesTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #1D213F;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.imageHolder {
    width: 90px;
    height: 90px;
    background: #F1F2F5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: contain;
    display: flex;
    margin-bottom: 23px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.cardTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
    color: #1D213F;
}

.cardText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #8B91A9;
}