.main {
  display: flex;
  height: 100%;
  padding-left: 250px;
  background: #F1F2F5;
}

.container{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}