.payment_wrapper{
    display: flex;
    justify-content: space-between;
}
.w50{
    width: 48%;
    padding: 52px 50px;
    background: #FFFFFF;
    box-sizing: border-box;
border-radius: 20px;
}
.title{
    font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;
margin-bottom: 38px;
color: #1D213F;
}
.mb35{
    margin-bottom: 35px;
}